body{
    background-color: #191919;
    color: #ffff;
    font-family: 'Patrick Hand', cursive;

}
.sin{
    font-family: 'Abril Fatface', cursive;
    color:#FBFFE2;
}
.text{
    width: 100%;
    max-width: 960px;
    margin: auto,0;
    border-radius: 25px;
    
    margin-top: 1.3rem;
    justify-items: center;
    text-align: center;

}
.results.result{
    width:33.333%;
    min-width:0px-15px ;
    padding: 15;
    display: flex;
    flex-direction: column;
}
.head{
    float: right;
    padding-left: 1.1rem;
}
.home{
    float: left;
}